body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

iframe {
  width: 100%;
  height: 100%;
}

.dash {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  overflow: hidden;
}

.left {
  width: 50%;
  height: 100%;
}
.right {
  width: 50%;
  height: 100%;
}

.chat {
  min-height: 500px;
  height: 100%;
  width: 49%;
  flex-grow: 1;
  display: inline-block;
}

.events {
  min-height: 500px;
  height: 100%;
  width: 49%;
  flex-grow: 1;
  display: inline-block;
}

.stream {
  height: 50%;
  width: 100%;
  flex-grow: 1;
  display: inline-block;
}